.header{
    background-color: #e791a4;
    background-repeat: no-repeat ;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 635px;
}
.nav-title{
    display: flex;
    width: 706px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.pera{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    border-radius: 10px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #E55473;
    margin-bottom: 50px;
}
.section{
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 200px;
}
.pera-two{
    text-align: center;
    font-size: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.menu{ padding: 100px;
    display: flex;
    justify-content: space-between;
}
.class-1st{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    
}
.pink{
    width: 310px;
    height: 428px;
    margin: 110px 30px 0px 40px;
}
.no-1{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.class-2nd{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 20px;
    margin-left: 20px;
}
.red{
    width: 370px;
    height: 370px;
    flex-shrink: 0;
    margin:170px 30px 0px 40px ;
}
.no-2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
.class-3rd{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.yellow{
    width: 314px;
    height: 471px;
    flex-shrink: 0;
    margin: 65px 30px 0px 40px ;
}
.no-3{
    color: #272727;
    text-align: center;
    font-family: Lato; 
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.logo-conteinar{
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
.section-two{
    background: rgba(229, 84, 115, 0.05);
    background-repeat: no-repeat ;

}
.banner-2nd{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-p{
    width: 518px;
    height: 420px;
}
.title-two{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.span{
    color: #E55473;
}
.btn-two{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
}
.insta{
    text-align: center;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.pera-lot{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.four{
    display: flex;
    justify-content: center;
}
#one{
    width: 342px;
    height: 396px;
   flex-shrink: 0;
   margin: 10px;

}
#two{
    width: 342px;
    height: 396px;
    margin:10px;
}
#three{
    width: 342px;
    height: 396px;
    margin: 10px;
}
#four{
    width: 342px;
    height: 396px;
    margin: 10px;
}
#banner{
    background-image:url(./Rectangle\ 9.png); 
    background-position: center;
    background-size: cover;

}
.head{

}
.pera{

}
.input{
    width: 700px;
height: 64px;
flex-shrink: 0;
width: 700px;
height: 64px;
flex-shrink: 0;
justify-content: center;

}
#back{
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    background: #111010;
}
#foot{
    display: flex;
width: 625px;
flex-direction: column;
flex-shrink: 0;
text-align: center;
color: #E55473;

}
.dj{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.input{

}
